@{
    ViewBag.Title = "_delete_certification";
}
<style>
    .message_deletecertification {
        width: 366px;
        height: 78px;
        ont-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #000000;
        padding-top: 30px;
        padding-left: 0px
    }
    .modal_line_change {
        margin-top: 63px !important;
    }
</style>
<div class="modal fade" id="DeleteCertification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Html.Hidden("UserId")
            <div class="modal-body">
                <p class="message_delete message_delete_certification">are you sure you want to delete</p>
            </div>
            <div class="modal_line modal_line_change"></div>
            <div class="modal-footer">
                <button type="submit" class="btn_Delete_certification btn_save">yes</button>
                <button type="button" class="btn_close" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
    //delete the health case with it is drugs
    $(".btn_Delete_certification").click(function () {
        var id = $(".btn_Delete_certification").val();
        var userId = $('#UserId').val();
        $.ajax({
            url: "/Manage/DeleteCertification",
            type: "POST",
            data: { "Certificationid": id, "userId": userId}
        }).done(function (data) {
            if (data.Url != null) {
                window.location = data.Url;
            }
            else {
                if (data == -1) {
                    $(".message").append($("<div class='alert alert-success alert1 delet_success' role='alert'>Certification has been deleted Successfully !</div >"));
                    $('#pharmacists').DataTable().ajax.reload();
                    $('#DeleteCertification').modal("hide");
                    setTimeout(function () { $('.alert1').fadeOut() }, 5000);
                }
            }
        });
    })
</script>

